ip: 192.168.66.66
memory: 4096
cpus: 4
provider: libvirt
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
sites:
    -
        map: laravel-chat.test
        to: /vagrant/public
        php: "8.2"
        
databases:
    - homestead
features:
    -
        mysql: true
    -
        mariadb: false
    -
        postgresql: false
    -
        ohmyzsh: false
    -
        webdriver: false
services:
    -
        enabled: [mysql]
name: laravel-chat
hostname: laravel-chat
